doctype html
head
  link(rel='stylesheet' href='../style.css' type='TEXT/CSS')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' ,='' rel='stylesheet')
  script(src='https://kit.fontawesome.com/a08ba1039b.js' ,='' crossorigin='anonymous')
.arena_find_display.flex.col
  .control_bar.flex
    h1 Find Matches
    a(href='/arena') Back to Arena Page
  .arena_match_window.flex.col

    each match in arrayOfMatches

        .arena_match.flex
            .arena_opponent.flex.col
                h3 Hosting Kingdom
                h2= host
            .arena_opponent_stats.flex
                .arena_opponent_stat.flex.col
                    h3 Strength
                    h3= strength
                        img(src='../media/strength.svg' alt='')
                .arena_opponent_stat.flex.col
                    h3 Defense
                    h3= defense
                        img(src='../media/shield.svg' alt='')
                .arena_opponent_stat.flex.col
                    h3 Agility
                    h3= agility 
                        img(src='../media/agility.svg' alt='')
                .arena_opponent_stat.flex.col
                    h3 Intelligence
                    h3= intelligence
                        img(src='../media/intelligence.svg' alt='')
            form.arena_start_match(method='POST' action='/startmatch')
                input(type="hidden", name="hostid" value= hostid)
                button(type='submit') Start Match
