doctype html
head
  link(rel='stylesheet' href='../style.css' type='TEXT/CSS')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' ,='' rel='stylesheet')
  script(src='https://kit.fontawesome.com/a08ba1039b.js' ,='' crossorigin='anonymous')
.arena_display
  .arena_banner
    img.arena_image_banner(src='https://cdn.discordapp.com/attachments/724842104811159593/724843696083959908/Hans_Bol_-_Village_Feast_28Annual_Fair29_-_WGA02368.png' alt='')
    .arena_gladiator_info.flex.col
      h1
        | Arena 
        span.normal= leader
      h2
        | Gladiator: 
        span.normal= name
      .arena_icons.flex
        .arena_icon.flex.col
          img(src=`./media/${gender.toLowerCase()}.svg` alt='')
          h4= gender
        .arena_icon.flex.col
          img(src=`./media/${weapon.toLowerCase()}.svg` alt='')
          h4= weapon
    .arena_levels.flex.col
      h2 Gladiator Stats:
      .arena_stat_container.flex
        h3.normal Strength
        h3.flex.arena_stat
          span.bold= strength
          img(src='./media/strength.svg' alt='')
      .arena_stat_container.flex
        h3.normal Defense
        h3.flex.arena_stat
          span.bold= defense
          img(src='./media/shield.svg' alt='')
      .arena_stat_container.flex
        h3.normal Agility
        h3.flex.arena_stat
          span.bold= agility
          img(src='./media/agility.svg' alt='')
      .arena_stat_container.flex
        h3.normal Intelligence
        h3.flex.arena_stat
          span.bold= intelligence
          img(src='./media/intelligence.svg' alt='')
  //
    <div class="arena_window_selection flex">
    <h3>Gladiator</h3>
    <h3>Current Matches</h3>
    </div>
  .arena_gladiator_window.flex
    .flex.col.arena_upgrade
      h2 Upgrade
      h3= upgradepoints
        span.normal points remaining
      .arena_upgrade_container.flex

        form(action="/upgradestats" method="POST")
          input(type="hidden", name="stat" value="strength")
          button.arena_upgrade_selection.flex.col
            img(src='./media/strength.svg' alt='')
            h3 Strength
        
        form(action="/upgradestats" method="POST")
          input(type="hidden", name="stat" value="strength")
          button.arena_upgrade_selection.flex.col
            img(src='./media/shield.svg' alt='')
            h3 Defense

        form(action="/upgradestats" method="POST")
          input(type="hidden", name="stat" value="strength")
          button.arena_upgrade_selection.flex.col
            img(src='./media/agility.svg' alt='')
            h3 Agility

        

        form(action="/upgradestats" method="POST")
          input(type="hidden", name="stat" value="strength")
          button.arena_upgrade_selection.flex.col
            img(src='./media/intelligence.svg' alt='')
            h3 Intelligence

          
        
    .flex.col.arena_new_match
      h2 New Match



      .match_options.flex.col
        form(method="POST" action="/host_match")
          input(type='hidden' name='strength' value= strength)
          input(type='hidden' name='defense' value= defense)
          input(type='hidden' name='agility' value= agility)
          input(type='hidden' name='intelligence' value= intelligence)
          button  
            h2 Host a Match
        form(method="GET" action="/find_match")
          button  
            h2 Find a Match
      
  //- .arena_match_window.flex.col
  //-   each m in arrayOfMatches
        
  //-       .arena_match.flex
  //-           .arena_opponent.flex.col
  //-               h3 Hosting Kingdom
  //-               h2= match.host
  //-           .arena_opponent_stats.flex
  //-               .arena_opponent_stat.flex.col
  //-                   h3 Strength
  //-                   h3= match.strength
  //-                       img(src='./media/strength.svg' alt='')
  //-               .arena_opponent_stat.flex.col
  //-                   h3 Defense
  //-                   h3= match.defense
  //-                       img(src='./media/shield.svg' alt='')
  //-               .arena_opponent_stat.flex.col
  //-                   h3 Agility
  //-                   h3= match.agility
  //-                       img(src='./media/agility.svg' alt='')
  //-               .arena_opponent_stat.flex.col
  //-                   h3 Intelligence
  //-                   h3= match.intelligence
  //-                       img(src='./media/intelligence.svg' alt='')
  //-           form.arena_start_match(method='POST' action='start_match')
  //-               button(type='submit') Start Match
