h2 Your military
each ground in domesticGround
    h2=ground.name
        span=ground.value
each air in domesticAir
    h2=air.name
        span=air.value
each sea in domesticSea
    h2=sea.name
        span=sea.value
each siege in domesticSiege
    h2=siege.name
        span=siege.value

h2 Your Stability + Action points
    span=domesticStability
    h2=domesticMaps

h2 Opponents military
each ground in foreignGround
    h2=ground.name
        span=ground.value
each air in foreignAir
    h2=air.name
        span=air.value
each sea in foreignSea
    h2=sea.name
        span=sea.value
each siege in foreignSiege
    h2=siege.name
        span=siege.value

h2 Opponent Stability + Action points
    span=foreigncStability
    h2=foreignMaps
