doctype html
head
  link(rel='stylesheet' type='text/css' href='style.css')

nav.flex
  .nav_contents.flex
    a(href='/home')
      span HOME
    a(href='/provinces')
      span PROVINCES
    a(href='/revenue')
      span REVENUE
    a(href='/research')
      span RESEARCH
    a(href='/military')
      span MILITARY
    a(href='/guild')
      span GUILD

    .sign.flex
      a(href='/logout')
        span LOGOUT

.main.flex.col
  h2=playerGuild
  h2=region
  h2=type
  h2=membercount
  h2=position
  a(href='/leave-guild') 
    span leave ur guild
