doctype html
head
  link(rel='stylesheet' type='text/css' href='style.css')
nav.flex
  .nav_contents.flex
    a(href='./home.html')
      span HOME
    .sign.flex
      form(action='/logout' method='POST')
        button(type='submit') Log out
.main.flex.col
  h1 ur kingdom
  p= kingdomInfo
  h2 your stats
  h3 Ground:  
    span= g
  h3 Air: 
    span= a
  h3 Sea:  
    span= s


  .resources.flex.col
    .resources_row.flex
      each item in kingdomStats
        span.flex= item.value
          img(src = `./media/${item.name}.png`)
      

  
