doctype html
head
  link(rel='stylesheet' type='text/css' href='style.css')
nav.flex
  .nav_contents.flex
    a(href='./home.html')
      span HOME
    .sign.flex
      form(action='/logout' method='POST')
        button(type='submit') Log out
.main.flex.col
  h1 ur kingdom
  p= kingdomInfo
  h2 your stats
  h3 Ground:  
    span= g
  h3 Air: 
    span= a
  h3 Sea:  
    span= s
  .resources.flex.col
    .resources_row.flex
      span= gold
        img(src='./media/gold.png')
      span= mana
        img(src='./media/mana.png')
      span= flora
        img(src='./media/flora.png')
      span= fauna
        img(src='./media/fauna.png')
      span= ore
        img(src='./media/ore.png')
      span= silver
        img(src='./media/silver.png')
      span= iron
        img(src='./media/iron.png')
      span= bronze
        img(src='./media/bronze.png')
      span= steel
        img(src='./media/steel.png')

  
