doctype html
head
  link(rel='stylesheet' type='text/css' href='style.css')
nav.flex
  .nav_contents.flex
    a(href='./home.html')
      span HOME
    .sign.flex
      a(href='/logout')
        span LOGOUT
.main.flex.col
  h2 The Kingdom of
  h1= kingdom
  h3= 'Ruled by: '+ ruler
  h4= 'Circa:' + founded

  p= kingdomInfo + "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."


  h2 your stats
  h3 Ground:  
    span= ground.value
  h3 Air: 
    span= air.value
  h3 Sea:  
    span= sea.value

  .kingdom_card_container.flex
    each title in arrayOfTitles
      .kingdom_card.flex.col
        h2= title
      


  .resources.flex.col
    .resources_row.flex
      each item in kingdomStats
        span.flex= item.value
          img(src = `./media/${item.name}.png`)
      

  
