doctype html
head
  link(rel='stylesheet' type='text/css' href='style.css')
nav.flex
  .nav_contents.flex
    a(href='/home')
      span HOME
    a(href='/military')
      span MILITARY
    a(href='/provinces')
      span PROVINCES
    .sign.flex
      a(href='/logout')
        span LOGOUT
.main.flex.col
  h2 The Kingdom of
  h1= kingdom
  h3= 'Ruled by: '+ ruler
  h4= 'Circa:' + founded

  p= kingdomInfo + "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."


  

  .kingdom_card_container.flex
    each title in arrayOfTitles
      .kingdom_card.flex.col
        h2= title
        if title == "POLICIES"
          each policy in policyStats
            h4= policy.name
            h3= policy.value
        else if title == "MILITARY"
          h4 GROUND
          each troop in ground 
            h3= troop.name + "           " 
              span= troop.value
          h4 AIR
          each troop in air
            h3= troop.name + " "
              span=troop.value
          h4 SEA
          each troop in sea
            h3= troop.name +' '
              span= troop.value
          h4 SIEGE
          each troop in siege
            h3= troop.name
              span= troop.value
        else if title == "WONDERS"
          each val,key in wonderStats 
            h3= key + " oo " + val
        //- else if title == "PROVINCES"
        //-   each val,key in provinceStats 
        //-     h3= key + " oo " + val
      


  .resources.flex.col
    .resources_row.flex
      each item in kingdomStats
        span.flex= item.value
          img(src = `./media/${item.name}.png`)
      

  
