doctype html
html
  head
    link(rel="stylesheet" href="../style.css" type="TEXT/CSS")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" ,="" rel="stylesheet")
    script(src="https://kit.fontawesome.com/a08ba1039b.js" ,="" crossorigin="anonymous")
  body
    .military_display
      .military_banner
        .military_banner_header
          h1
            | Military  
            span.normal= " of "+leader
          p
            | Here you build your army. Train ground, air, sea, and siege troops to conquer your opponents.
        .military_banner_stats
          h2
            | Offensive Power 
            i.fas.fa-question-circle
          h4
            | Ground: 
            span.player_info= groundAttackingPower
          h4
            | Air: 
            span.player_info= airAttackingPower
          h4
            | Sea: 
            span.player_info= navalAttackingPower
          
        .military_banner_stats
          h2
            | Defensive Power 
            i.fas.fa-question-circle
          h4
            | Ground: 
            span.player_info= groundDefendingPower
          h4
            | Air: 
            span.player_info= airDefendingPower
          h4
            | Sea: 
            span.player_info= navalDefendingPower
          
        img.military_image_banner(src="https://cdn.discordapp.com/attachments/724842104811159593/724847502221770782/70701cc7d786652fc89ee4f1c6c6d626.png" alt="")
      .military_selection
        .military_buttons
          span.bold.highlight Ground
          span Air
          span Sea
          span Siege
        .troop_display_container
          #display_ground.troop_display.flex.opacity_full.top_zero
            .troop_desc
              h1#name_ground(archers=groundTroops[1]['name'] warriors=groundTroops[0]['name'] cavalry=groundTroops[2]['name'] blacksmiths=groundTroops[3]['name'] priests=groundTroops[4]['name'] mages=groundTroops[5]['name'])= groundTroops[0]['name']
              p#description_ground(archers=groundTroops[1]['description'] warriors=groundTroops[0]['description']  cavalry=groundTroops[2]['description'] blacksmiths=groundTroops[3]['description'] priests=groundTroops[4]['description'] mages=groundTroops[5]['description'])= groundTroops[0]['description']
              h4#current_ground
                span.normal Current Enlistment:
                span.bold(archers=groundTroops[1]['value'] warriors=groundTroops[0]['value'] cavalry=groundTroops[2]['value'] blacksmiths=groundTroops[3]['value'] priests=groundTroops[4]['value'] mages=groundTroops[5]['value'])=" "+groundTroops[0]['value']
              form#enlist_ground(action="/enlist" method="POST")
                input(type="number" min="0" name="warriors")
                button(type="submit") Enlist
              form#discharge_ground(action="/discharge" method="POST")
                input(type="number" min="0" name="warriors")
                button(type="submit") Discharge
            .troop_stats
              .effective
                h4
                  span.normal Can Attack:
                h2#attackable_ground(archers=groundTroops[1]['canattack'] warriors=groundTroops[0]['canattack'] cavalry=groundTroops[2]['canattack'] blacksmiths=groundTroops[3]['canattack'] priests=groundTroops[4]['canattack'] mages=groundTroops[5]['canattack'])= groundTroops[0]['canattack']
              .troop_stats_off_def
                h3#OPower_ground
                  span.normal Offensive Power:
                  span.power.bold
                    span(archers=groundTroops[1]['attackingpower'] warriors=groundTroops[0]['attackingpower'] cavalry=groundTroops[2]['attackingpower'] blacksmiths=groundTroops[3]['attackingpower'] priests=groundTroops[4]['attackingpower'] mages=groundTroops[5]['attackingpower'])= groundTroops[0]['attackingpower']
                    i.fas.fa-fist-raised
                h3#DPower_ground
                  span.normal Defensive Power:
                  span.power.bold
                    span(archers=groundTroops[1]['defendingpower'] warriors=groundTroops[0]['defendingpower'] cavalry=groundTroops[2]['defendingpower'] blacksmiths=groundTroops[3]['defendingpower'] priests=groundTroops[4]['defendingpower'] mages=groundTroops[5]['defendingpower'])= groundTroops[0]['defendingpower']
                    i.fas.fa-shield-alt
                h3#cost_ground
                  span.normal Cost:
                  .cost_block
                    .cost_line
                      span 5
                      img(src="./media/gold.png")
            .troop_image
              object#image_ground(type="image/svg+xml" data="./media/warriors.svg")
          #display_air.troop_display
            .troop_desc
              h1#name_air(blimps=airTroops[0]['name'] harpies= airTroops[1]['name'] angels= airTroops[2]['name'] dragons= airTroops[3]['name'] )= airTroops[0]['name']
              p#description_air(blimps=airTroops[0]['description'] harpies= airTroops[1]['description'] angels= airTroops[2]['description'] dragons= airTroops[3]['description'] )= airTroops[0]['description']
              h4#current_air
                span.normal Current Enlistment:
                span.bold(blimps=airTroops[0]['value'] harpies= airTroops[1]['value'] angels= airTroops[2]['value'] dragons= airTroops[3]['value'] )= " "+airTroops[0]['value']
              form#enlist_air(action="/enlist" method="POST")
                input(type="number" min="0" name="blimps")
                button(type="submit") Enlist
              form#discharge_air(action="/discharge" method="POST")
                input(type="number" min="0" name="blimps")
                button(type="submit") Discharge
            .troop_stats
              .effective
                h4
                  span.normal Can Attack:
                h2#attackable_air(blimps=airTroops[0]['canattack'] harpies= airTroops[1]['canattack'] angels= airTroops[2]['canattack'] dragons= airTroops[3]['canattack'] )= airTroops[0]['canattack']
              .troop_stats_off_def
                h3#OPower_air
                  span.normal Offensive Power:
                  span.power.bold
                    span(blimps=airTroops[0]['attackingpower'] harpies= airTroops[1]['attackingpower'] angels= airTroops[2]['attackingpower'] dragons= airTroops[3]['attackingpower'] )= airTroops[0]['attackingpower']
                    i.fas.fa-fist-raised
                h3#DPower_air
                  span.normal Defensive Power:
                  span.power.bold
                    span(blimps=airTroops[0]['defendingpower'] harpies= airTroops[1]['defendingpower'] angels= airTroops[2]['defendingpower'] dragons= airTroops[3]['defendingpower'] )= airTroops[0]['defendingpower']
                    i.fas.fa-shield-alt
                h3#cost_air
                  span.normal Cost:
                  .cost_block
                    .cost_line
                      span 130
                      img(src="./media/gold.png")
                    .cost_line
                      span 30
                      img(src="./media/lumber.png")
                    .cost_line
                      span 50
                      img(src="./media/steel.png")
            .troop_image
              object#image_air(type="image/svg+xml" data="./media/blimps.svg")
          #display_sea.troop_display
            .troop_desc
              h1#name_sea(galleys=seaTroops[0]['name'] pirates=seaTroops[1]['name'] sea_serpents=seaTroops[2]['name'])= seaTroops[0]['name']
              p#description_sea(galleys=seaTroops[0]['description'] pirates=seaTroops[1]['description'] sea_serpents=seaTroops[1]['description'])= seaTroops[0]['description']
              h4#current_sea
                span.normal Current Enlistment:
                span.bold(galleys=seaTroops[0]['value'] pirates=seaTroops[1]['value'] sea_serpents=seaTroops[2]['value'])=" "+seaTroops[0]['value']
              form#enlist_sea(action="/enlist")
                input(type="number" min="0" name="galleys" method="POST")
                button(type="submit") Enlist
              form#discharge_sea(action="/discharge")
                input(type="number" min="0" name="galleys" method="POST")
                button(type="submit") Discharge
            .troop_stats
              .effective
                h4
                  span.normal Can Attack:
                h2#attackable_sea(galleys=seaTroops[0]['canattack'] pirates=seaTroops[1]['canattack'] sea_serpents=seaTroops[2]['canattack'])= seaTroops[0]['canattack']
              .troop_stats_off_def
                h3#OPower_sea
                  span.normal Offensive Power:
                  span.power.bold
                    span(galleys=seaTroops[0]['attackingpower'] pirates=seaTroops[1]['attackingpower'] sea_serpents=seaTroops[2]['attackingpower'])= seaTroops[0]['attackingpower']
                    i.fas.fa-fist-raised
                h3#DPower_sea
                  span.normal Defensive Power:
                  span.power.bold
                    span(galleys=seaTroops[0]['defendingpower'] pirates=seaTroops[1]['defendingpower'] sea_serpents=seaTroops[2]['defendingpower'])= seaTroops[0]['defendingpower']
                    i.fas.fa-shield-alt
                h3#cost_sea
                  span.normal Cost:
                  .cost_block
                    .cost_line
                      span 50
                      img(src="./media/gold.png")
                    .cost_line
                      span 40
                      img(src="./media/lumber.png")
                    .cost_line
                      span 30
                      img(src="./media/steel.png")
            .troop_image
              object#image_sea(type="image/svg+xml" data="./media/galleys.svg")
          #display_siege.troop_display
            .troop_desc
              h1#name_siege(catapults=siegeTroops[0]['name'] trebuchets=siegeTroops[1]['name'] cannons=siegeTroops[2]['name'])= siegeTroops[0]['name']
              p#description_siege(catapults=siegeTroops[0]['description'] trebuchets=siegeTroops[1]['description'] cannons=siegeTroops[2]['description'])= siegeTroops[0]['description']
              h4#current_siege
                span.normal Current Enlistment:
                span.bold(catapults=siegeTroops[0]['value'] trebuchets=siegeTroops[1]['value'] cannons=siegeTroops[2]['value'])= " "+siegeTroops[0]['value']
              form#enlist_siege(action="/enlist" method="POST")
                input(type="number" min="0" name="catapults")
                button(type="submit") Enlist
              form#discharge_siege(action="/discharge" method="POST")
                input(type="number" min="0" name="catapults" )
                button(type="submit") Discharge
            .troop_stats
              .effective
                h4
                  span.normal Can Siege:
                h2#attackable_siege(catapults=siegeTroops[0]['canattack'] trebuchets=siegeTroops[1]['canattack'] cannons=siegeTroops[2]['canattack'])= siegeTroops[0]['canattack']
              .troop_stats_off_def
                h3#OPower_siege
                  span.normal Impact:
                  span.power.bold
                    span(catapults=siegeTroops[0]['stabilitychange'] trebuchets=siegeTroops[1]['stabilitychange'] cannons=siegeTroops[2]['stabilitychange'])= siegeTroops[0]['stabilitychange']
                    i.fas.fa-fist-raised
                h3#DPower_siege
                  span.normal Strength:
                  span.power.bold
                    span(catapults=siegeTroops[0]['strength'] trebuchets=siegeTroops[1]['strength'] cannons=siegeTroops[2]['strength'])= siegeTroops[0]['strength']
                    i.fas.fa-shield-alt
                h3#cost_siege
                  span.normal Cost:
                  .cost_block
                    .cost_line
                      span 250
                      img(src="./media/gold.png")
                    .cost_line
                      span 310
                      img(src="./media/lumber.png")
            .troop_image
              object#image_siege(type="image/svg+xml" data="./media/catapults.svg")
        #ground.troop_selection.flex.opacity_full.top_zero
          .select(name="warriors")
            .circle.circle_selected
            h4.bold Warrior
          .select(name="archers")
            .circle
            h4 Archer
          .select(name="cavalry")
            .circle
            h4 Cavalry
          .select(name="blacksmiths")
            .circle
            h4 Blacksmith
          .select(name="priests")
            .circle
            h4 Priest
          .select(name="mages")
            .circle
            h4 Mage
        #air.troop_selection
          .select(name="blimps")
            .circle.circle_selected
            h4.bold Blimp
          .select(name="harpies")
            .circle
            h4 Harpy
          .select(name="angels")
            .circle
            h4 Angel
          .select(name="dragons")
            .circle
            h4 Dragon
        #sea.troop_selection
          .select(name="galleys")
            .circle.circle_selected
            h4.bold Galley
          .select(name="pirates")
            .circle
            h4 Pirate
          .select(name="sea_serpents")
            .circle
            h4 Serpent
        #siege.troop_selection
          .select(name="catapults")
            .circle.circle_selected
            h4.bold Catapult
          .select(name="trebuchets")
            .circle
            h4 Trebuchet
          .select(name="cannons")
            .circle
            h4 Cannon
    script(src="./js/military.js")
    script(src="./js/navbar.js")

