doctype html
head
  link(rel='stylesheet' type='text/css' href='style.css')


nav.flex
  .nav_contents.flex
    a(href='/home')
      span HOME
    a(href='/provinces')
      span PROVINCES
    a(href='/revenue')
      span REVENUE
    a(href='/research')
      span RESEARCH
    a(href='/military')
      span MILITARY
    a(href='/guild')
      span GUILD

    .sign.flex
      a(href='/logout')
        span LOGOUT

.main.flex.col  
    h2 Current Provinces:
    h2= currentProvinceCount.count


    form.flex.col.register(action='/new-province' method='POST' name='test')
        h1 Buy Province
        input(name='provinceName' placeholder='province name' type='text')
        button(type='submit') Submit



.main.flex.col
  each prov in provinces.countArray
    h2=provinces.provinceNames[prov] 
    - var namE = provinces.provinceNames[value]
    span Land:
      span=provinces.provinceLands[prov] +"       "
        span Happiness:
          span=provinces.provinceHappiness[prov]
    form(action='/buyLand' method='POST' name='test')
        input(name='provinceName' type = 'hidden' value= provinces.provinceNames[prov])
        input(name='land' placeholder = '20' type = 'text' value= i)
    each i in improvementsRaw
      - var iname = "buy " + i
      form(action='/buyImprovement' method='POST' name='test')
        input(name='provinceName' type = 'hidden' value= provinces.provinceNames[prov])
        input(name='improvementsName' type = 'hidden' value= i)
        button(type='submit')= iname
    each i in improvementsRefine
      - var iname = "buy " + i
      form(action='/buyImprovement' method='POST' name='test')
        input(name='provinceName' type = 'hidden' value= provinces.provinceNames[prov])
        input(name='improvementsName' type = 'hidden' value= i)
        span
          button(type='submit')= iname
    each i in improvementsEcon
      - var iname = "buy " + i
      form(action='/buyImprovement' method='POST' name='test')
        input(name='provinceName' type = 'hidden' value= provinces.provinceNames[prov])
        input(name='improvementsName' type = 'hidden' value= i)
        span
          button(type='submit')= iname
    each i in improvementsEntertainment
      - var iname = "buy " + i
      form(action='/buyImprovement' method='POST' name='test')
        input(name='provinceName' type = 'hidden' value= provinces.provinceNames[prov])
        input(name='improvementsName' type = 'hidden' value= i)
        span
          button(type='submit')= iname
    each i in improvementsResearch
      - var iname = "buy " + i
      form(action='/buyImprovement' method='POST' name='test')
        input(name='provinceName' type = 'hidden' value= provinces.provinceNames[prov])
        input(name='improvementsName' type = 'hidden' value= i)
        span
          button(type='submit')= iname
    each i in improvementsHousing
      - var iname = "buy " + i
      form(action='/buyImprovement' method='POST' name='test')
        input(name='provinceName' type = 'hidden' value= provinces.provinceNames[prov])
        input(name='improvementsName' type = 'hidden' value= i)
        span
          button(type='submit')= iname
    