doctype html
head
  link(rel='stylesheet' href='./style.css' type='TEXT/CSS')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' ,='' rel='stylesheet')
  script(src='https://kit.fontawesome.com/a08ba1039b.js' ,='' crossorigin='anonymous')
body
    .prepare_attack_overlay
        each war,index in loffensiveWars

            if index===0
                div.prepare_attack.offense.col.flex(id = `war${index+1}` type='offense')
                    h1 Prepare Your Armies
                    .forces.flex
                        .attack_force.flex.col
                            h1 Attacking Forces
                            each ground in war.domesticGround
                                h2#ground.val.flex  
                                    span.normal= ground['name']
                                    span.bold= ground['value']
                            each air in war.domesticAir
                                h2#air.val  
                                    span.normal= air['name']
                                    span.bold= air['value']
                            each sea in war.domesticSea
                                h2#sea.val  
                                    span.normal= sea['name']
                                    span.bold= sea['value']
                            each siege in war.domesticSiege
                                h2#siege.val  
                                    span.normal= siege['name']
                                    span.bold= siege['value']
                                
                        .defend_force.flex.col
                            h1 Defending Forces
                            each ground in war.foreignGround
                                h2#ground.val.flex  
                                    span.normal= ground['name']
                                    span.bold= ground['value']
                            each air in war.foreignAir
                                h2#air.val  
                                    span.normal= air['name']
                                    span.bold= air['value']
                            each sea in war.foreignSea
                                h2#sea.val  
                                    span.normal= sea['name']
                                    span.bold= sea['value']
                            each siege in war.foreignSiege
                                h2#siege.val  
                                    span.normal= siege['name']
                                    span.bold= siege['value']
                    h2 Overall Power
                    .powers.flex
                        .attacking_power
                            each power in war.domesticPower
                                if power['name']==='ground'
                                    h2.val.flex(id=`${power['name']}`)  
                                        span.bold= power['value']
                                        i.fas.fa-1x.fa-fist-raised
                                else
                                    h2.val(id=`${power['name']}`)  
                                        span.bold= power['value']
                                        i.fas.fa-1x.fa-fist-raised
                            
                        .defending_power
                            each power in war.foreignPower
                                    if power['name']==='ground'
                                        h2.val.flex(id=`${power['name']}`)  
                                            span.bold= power['value']
                                            i.fas.fa-1x.fa-fist-raised
                                    else
                                        h2.val(id=`${power['name']}`)  
                                            span.bold= power['value']
                                            i.fas.fa-1x.fa-fist-raised
                    form(method='POST' action='/ground')
                        input.war_num(type='hidden' name='warid' value= `${war.warid}`)
                        input.medium(type='hidden' name='medium' value='ground')
                        input(type="hidden" name='domesticMaps' value= `${war.aggressormaps}`)
                        input(type="hidden" name='foreignStability' value= `${war.defenderstability}`)
                        button.launch_attack(type='submit') Launch an Attack

                    .prepare_attack_selection.flex
                        .select.flex.col(name='ground')
                            .circle.circle_selected.large
                            h4.bold Ground Assault
                        .select.flex.col(name='air')
                            .circle.large
                            h4 Air Fight
                        .select.flex.col(name='sea')
                            .circle.large
                            h4 Naval Battle
                        .select.flex.col(name='siege')
                            .circle.large
                            h4 Siege
                    .close
                        i.absolute
                        i.absolute
            else
                div.prepare_attack.offense.col(id = `war${index+1}` type='offense')    
                    h1 Prepare Your Armies
                    .forces.flex
                        .attack_force.flex.col
                            h1 Attacking Forces
                            each ground in war.domesticGround
                                h2#ground.val.flex  
                                    span.normal= ground['name']
                                    span.bold= ground['value']
                            each air in war.domesticAir
                                h2#air.val  
                                    span.normal= air['name']
                                    span.bold= air['value']
                            each sea in war.domesticSea
                                h2#sea.val  
                                    span.normal= sea['name']
                                    span.bold= sea['value']
                            each siege in war.domesticSiege
                                h2#siege.val  
                                    span.normal= siege['name']
                                    span.bold= siege['value']
                                
                        .defend_force.flex.col
                            h1 Defending Forces
                            each ground in war.foreignGround
                                h2#ground.val.flex  
                                    span.normal= ground['name']
                                    span.bold= ground['value']
                            each air in war.foreignAir
                                h2#air.val  
                                    span.normal= air['name']
                                    span.bold= air['value']
                            each sea in war.foreignSea
                                h2#sea.val  
                                    span.normal= sea['name']
                                    span.bold= sea['value']
                            each siege in war.foreignSiege
                                h2#siege.val  
                                    span.normal= siege['name']
                                    span.bold= siege['value']
                    h2 Overall Power
                    .powers.flex
                        .attacking_power
                            each power in war.domesticPower
                                if power['name']==='ground'
                                    h2.val.flex(id=`${power['name']}`)  
                                        span.bold= power['value']
                                        i.fas.fa-1x.fa-fist-raised
                                else
                                    h2.val(id=`${power['name']}`)  
                                        span.bold= power['value']
                                        i.fas.fa-1x.fa-fist-raised
                            
                        .defending_power
                        each power in war.foreignPower
                                if power['name']==='ground'
                                    h2.val.flex(id=`${power['name']}`)  
                                        span.bold= power['value']
                                        i.fas.fa-1x.fa-fist-raised
                                else
                                    h2.val(id=`${power['name']}`)  
                                        span.bold= power['value']
                                        i.fas.fa-1x.fa-fist-raised
                        
                    form(method='POST' action='/ground')
                        input.war_num(type='hidden' name='warid' value= `${war.warid}`)
                        input.medium(type='hidden' name='medium' value='ground')
                        input(type="hidden" name='domesticMaps' value= `${war.aggressormaps}`)
                        input(type="hidden" name='foreignStability' value= `${war.defenderstability}`)
                        button.launch_attack(type='submit') Launch an Attack

                    .prepare_attack_selection.flex
                        .select.flex.col(name='ground')
                            .circle.circle_selected.large
                            h4.bold Ground Assault
                        .select.flex.col(name='air')
                            .circle.large
                            h4 Air Fight
                        .select.flex.col(name='sea')
                            .circle.large
                            h4 Naval Battle
                        .select.flex.col(name='siege')
                            .circle.large
                            h4 Siege
                    .close
                        i.absolute
                        i.absolute

        each war,index in defensiveWars

            if index===0
                div.prepare_attack.defense.col.flex(id = `war${index+1}` type='defense')
                    h1 Prepare Your Armies
                    .forces.flex
                        .attack_force.flex.col
                            h1 Attacking Forces
                            each ground in war.foreignGround
                                h2#ground.val.flex  
                                    span.normal= ground['name']
                                    span.bold= ground['value']
                            each air in war.foreignAir
                                h2#air.val  
                                    span.normal= air['name']
                                    span.bold= air['value']
                            each sea in war.foreignSea
                                h2#sea.val  
                                    span.normal= sea['name']
                                    span.bold= sea['value']
                            each siege in war.foreignSiege
                                h2#siege.val  
                                    span.normal= siege['name']
                                    span.bold= siege['value']
                                
                        .defend_force.flex.col
                            h1 Defending Forces
                            each ground in war.domesticGround
                                h2#ground.val.flex  
                                    span.normal= ground['name']
                                    span.bold= ground['value']
                            each air in war.domesticAir
                                h2#air.val  
                                    span.normal= air['name']
                                    span.bold= air['value']
                            each sea in war.domesticSea
                                h2#sea.val  
                                    span.normal= sea['name']
                                    span.bold= sea['value']
                            each siege in war.domesticSiege
                                h2#siege.val  
                                    span.normal= siege['name']
                                    span.bold= siege['value']
                    h2 Overall Power
                    .powers.flex
                        .attacking_power
                            each power in war.foreignPower
                                if power['name']==='ground'
                                    h2.val.flex(id=`${power['name']}`)  
                                        span.bold= power['value']
                                        i.fas.fa-1x.fa-fist-raised
                                else
                                    h2.val(id=`${power['name']}`) 
                                        span.bold= power['value']
                                        i.fas.fa-1x.fa-fist-raised
                            
                        .defending_power
                            each power in war.domesticPower
                                    if power['name']==='ground'
                                        h2.val.flex(id=`${power['name']}`)  
                                            span.bold= power['value']
                                            i.fas.fa-1x.fa-fist-raised
                                    else
                                        h2.val(id=`${power['name']}`)  
                                            span.bold= power['value']
                                            i.fas.fa-1x.fa-fist-raised
                            
                    form(method='POST' action='/ground')
                        input.war_num(type='hidden' name='warid' value= `${war.warid}`)
                        input.medium(type='hidden' name='medium' value='ground')
                        input(type="hidden" name='domesticMaps' value= `${war.defendermaps}`)
                        input(type="hidden" name='foreignStability' value= `${war.aggressorstability}`)
                        button.launch_attack(type='submit') Launch an Attack

                    .prepare_attack_selection.flex
                        .select.flex.col(name='ground')
                            .circle.circle_selected.large
                            h4.bold Ground Assault
                        .select.flex.col(name='air')
                            .circle.large
                            h4 Air Fight
                        .select.flex.col(name='sea')
                            .circle.large
                            h4 Naval Battle
                        .select.flex.col(name='siege')
                            .circle.large
                            h4 Siege
                    .close
                        i.absolute
                        i.absolute

            else
                div.prepare_attack.defense.col(id = `war${index+1}` type='defense')  

                    h1 Prepare Your Armies
                    .forces.flex
                        .attack_force.flex.col
                            h1 Attacking Forces
                            each ground in war.domesticGround
                                h2#ground.val.flex  
                                    span.normal= ground['name']
                                    span.bold= ground['value']
                            each air in war.domesticAir
                                h2#air.val  
                                    span.normal= air['name']
                                    span.bold= air['value']
                            each sea in war.domesticSea
                                h2#sea.val  
                                    span.normal= sea['name']
                                    span.bold= sea['value']
                            each siege in war.domesticSiege
                                h2#siege.val  
                                    span.normal= siege['name']
                                    span.bold= siege['value']
                                
                        .defend_force.flex.col
                            h1 Defending Forces
                            each ground in war.foreignGround
                                h2#ground.val.flex  
                                    span.normal= ground['name']
                                    span.bold= ground['value']
                            each air in war.foreignAir
                                h2#air.val  
                                    span.normal= air['name']
                                    span.bold= air['value']
                            each sea in war.foreignSea
                                h2#sea.val  
                                    span.normal= sea['name']
                                    span.bold= sea['value']
                            each siege in war.foreignSiege
                                h2#siege.val  
                                    span.normal= siege['name']
                                    span.bold= siege['value']
                    h2 Overall Power
                    .powers.flex
                        .attacking_power
                            each power in war.domesticPower
                                if power['name']==='ground'
                                    h2.val.flex(id=`${power['name']}`)  
                                        span.bold= power['value']
                                        i.fas.fa-1x.fa-fist-raised
                                else
                                    h2.val(id=`${power['name']}`) 
                                        span.bold= power['value']
                                        i.fas.fa-1x.fa-fist-raised
                            
                        .defending_power
                        each power in war.domesticPower
                                if power['name']==='ground'
                                    h2.val.flex(id=`${power['name']}`)  
                                        span.bold= power['value']
                                        i.fas.fa-1x.fa-fist-raised
                                else
                                    h2.val(id=`${power['name']}`)  
                                        span.bold= power['value']
                                        i.fas.fa-1x.fa-fist-raised
                            
                    form(method='POST' action='/ground')
                        input.war_num(type='hidden' name='warid' value= `${war.warid}`)
                        input(type="hidden" name='domesticMaps' value= `${war.defendermaps}`)
                        input(type="hidden" name='foreignStability' value= `${war.aggressorstability}`)

                        input.medium(type='hidden' name='medium' value='ground')
                        button.launch_attack(type='submit') Launch an Attack

                    .prepare_attack_selection.flex
                        .select.flex.col(name='ground')
                            .circle.circle_selected.large
                            h4.bold Ground Assault
                        .select.flex.col(name='air')
                            .circle.large
                            h4 Air Fight
                        .select.flex.col(name='sea')
                            .circle.large
                            h4 Naval Battle
                        .select.flex.col(name='siege')
                            .circle.large
                            h4 Siege
                    .close
                        i.absolute
                        i.absolute

        
    .war_display
        .war_banner.flex
            img.war_image_banner(src='https://cdn.discordapp.com/attachments/724842104811159593/724848478253219920/Vincent_Adriaenssen_-_Cavalry_battle_scene.png' alt='')
            .war_message
                h1 War
                p Take your troops into battle and onquer your opponents
            .war_current.flex.col
                h2
                    span.normal Current Offensive Wars:
                    span.bold= numOf
        
                h2
                    span.normal Current Defensive Wars:
                    span.bold= numDe
        .war_selection
            .war_buttons.flex
                span#offense Offensive
                span#declare.highlight Declare War
                span#defense Defensive
            .war_control_panel.relative
                .war.top_zero.declare.flex.col.opacity_full(type='declare')
                    .war_players.flex
                        h1 Declare War
                    form(class='declarewar'  action='/declarewar' method='POST')
                        .input
                            label(for='whom')
                            i.far.fa-2x.fa-caret-square-right
                            input#whom(type='text' name='whom' required='')
                        .war_type.flex
                            input#pillage(type='radio' name='type' value='pillage' required='')
                            label(for='pillage') Pillage
                            input#destroy(type='radio' name='type' value='destroy' required='')
                            label(for='destroy') Destroy

                        
                        
                            
                        button.launch_attack(type='submit') Find Opponent

                
                    
                #war1.war.offense.col(type='offense')
                    if numOf > 0
                        .war_players.flex
                            .attacker
                                each war,index in loffensiveWars
                                    if index === 0
                                        h1.flex( id =`war${index+1}`)
                                            span.normal Aggressor - 
                                            span.bold= war.aggressorName
                                    else
                                        h1( id =`war${index+1}`)
                                            span.normal Aggressor - 
                                            span.bold= war.aggressorName
                                

                            .defender
                                each war,index in loffensiveWars
                                    if index === 0
                                        h1.flex( id =`war${index+1}`)
                                            span.normal Defender - 
                                            span.bold= war.defenderName
                                    else
                                        h1( id =`war${index+1}`)
                                            span.normal Defender - 
                                            span.bold= war.defenderName
                        .war_points.flex
                            .attacker_points
                                each war,index in loffensiveWars

                                    if index===0
                                        h2.flex( id =`war${index+1}`)
                                            span.normal Points - 
                                            span.bold= war.aggressormaps
                                            object(type='image/svg+xml' data='./media/swords.svg')
                                    else
                                        h2( id =`war${index+1}`)
                                            span.normal Points - 
                                            span.bold= war.aggressormaps
                                            object(type='image/svg+xml' data='./media/swords.svg')

                                        

                            .defender_points
                                each war,index in loffensiveWars
                                    if index===0

                                        h2.flex( id =`war${index+1}`)
                                            span.normal Points - 
                                            span.bold= war.defendermaps
                                            object(type='image/svg+xml' data='./media/swords.svg')
                                    else 
                                        h2( id =`war${index+1}`)
                                            span.normal Points - 
                                            span.bold= war.defendermaps
                                            object(type='image/svg+xml' data='./media/swords.svg') 
                        .war_stability.flex
                            .attacker_stability
                                each war,index in loffensiveWars
                                    if index === 0

                                        h2.flex( id =`war${index+1}`)
                                            span.normal Stability - 
                                            span.bold= war.aggressorstability 
                                            object(type='image/svg+xml' data='./media/swords.svg')
                                    else    
                                        h2( id =`war${index+1}`)
                                            span.normal Stability - 
                                            span.bold= war.aggressorstability 
                                            object(type='image/svg+xml' data='./media/swords.svg')
                            .defender_stability
                                each war,index in loffensiveWars
                                    if index === 0

                                        h2.flex( id =`war${index+1}`)
                                            span.normal Stability - 
                                            span.bold= war.defenderstability  
                                            object(type='image/svg+xml' data='./media/swords.svg')
                                    else    
                                        h2( id =`war${index+1}`)
                                            span.normal Stability - 
                                            span.bold= war.defenderstability 
                                            object(type='image/svg+xml' data='./media/swords.svg')
                        h2.plan_offensive Attack
                    else
                        h1.default_message No one to attack. Go to the "Declare War" window to declare one now!
                    
                        
                         

                
                    
                #war1.war.defense.col(type='defense')
                    if numDe > 0
                        .war_players.flex
                            .attacker
                                each war,index in defensiveWars
                                    if index === 0
                                        h1.flex( id =`war${index+1}`)
                                            span.normal Aggressor - 
                                            span.bold= war.aggressorName
                                    else
                                        h1( id =`war${index+1}`)
                                            span.normal Aggressor - 
                                            span.bold= war.aggressorName
                                

                            .defender
                                each war,index in defensiveWars
                                    if index === 0
                                        h1.flex( id =`war${index+1}`)
                                            span.normal Defender - 
                                            span.bold= war.defenderName
                                    else
                                        h1.flex( id =`war${index+1}`)
                                            span.normal Defender - 
                                            span.bold= war.defenderName
                        .war_points.flex
                            .attacker_points
                                each war,index in defensiveWars

                                    if index===0
                                        h2.flex( id =`war${index+1}`)
                                            span.normal Points - 
                                            span.bold= war.aggressormaps
                                            object(type='image/svg+xml' data='./media/swords.svg')
                                    else
                                        h2(id =`war${index+1}`)
                                            span.normal Points - 
                                            span.bold= war.aggressormaps
                                            object(type='image/svg+xml' data='./media/swords.svg')

                                        

                            .defender_points
                                each war,index in defensiveWars
                                    if index===0

                                        h2.flex( id =`war${index+1}`)
                                            span.normal Points - 
                                            span.bold= war.defendermaps
                                            object(type='image/svg+xml' data='./media/swords.svg')
                                    else 
                                        h2( id =`war${index+1}`)
                                            span.normal Points - 
                                            span.bold= war.defendermaps
                                            object(type='image/svg+xml' data='./media/swords.svg') 
                        .war_stability.flex
                            .attacker_stability
                                each war,index in defensiveWars
                                    if index === 0

                                        h2.flex( id =`war${index+1}`)
                                            span.normal Stability - 
                                            span.bold= war.aggressorstability 
                                            object(type='image/svg+xml' data='./media/swords.svg')
                                    else    
                                        h2( id =`war${index+1}`)
                                            span.normal Stability - 
                                            span.bold= war.aggressorstability 
                                            object(type='image/svg+xml' data='./media/swords.svg')
                            .defender_stability
                                each war,index in defensiveWars
                                    if index === 0

                                        h2.flex( id =`war${index+1}`)
                                            span.normal Stability - 
                                            span.bold= war.defenderstability  
                                            object(type='image/svg+xml' data='./media/swords.svg')
                                    else    
                                        h2( id =`war${index+1}`)
                                            span.normal Stability - 
                                            span.bold= war.defenderstability 
                                            object(type='image/svg+xml' data='./media/swords.svg')
                        h2.plan_offensive Counter Attack
                    else    
                        h1.default_message No one to defend against. You people are safe!



            .war_selection_circles_container
                #offense.war_selection_circles
                    each war, index in loffensiveWars
                        div.select(id=`war${index}`)
                            if index===0
                                .circle.circle_selected
                                h4.bold War #{index+1}
                            else
                                .circle
                                h4.bold War #{index+1}

                    
                #defense.war_selection_circles
                   each war, index in defensiveWars
                        div.select(id=`war${index}`)
                            if index===0
                                .circle.circle_selected
                                h4.bold War #{index+1}
                            else
                                .circle
                                h4.bold War #{index+1}
    script(src="./js/wars.js"  defer='')
    script(src="./js/navbar.js"  defer='')